* {
  padding: 0;
  margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

.btn {
  cursor: pointer;
  color: #fff !important;
}

.btn_disabled {
  cursor: none !important;
  pointer-events: none;
  background-color: rgb(132, 132, 132) !important;
}
